In [1]:
# import some libraries
import pandas as pd
import numpy as np
import re

In [2]:
sports = pd.read_csv('sports_concate_v1_1.csv')

In [3]:
sports.shape

(676, 8)

In [4]:
sports.head()

,Unnamed: 0,Name,formattedAddress,newB,longitude,latitude,type,place_id
0,0,Eltham Swimming School,"1441 Main Rd, Eltham VIC 3095, Australia",Swimming Club,145.175774,-37.701532,"['point_of_interest', 'establishment']",ChIJnc-kCFw21moR-O84vUwjjTM
1,1,Jayson Lamb’s Splash Factory,"Grafton Rd, Warrnambool VIC 3280, Australia",Swimming Club,142.501409,-38.379052,"['point_of_interest', 'establishment']",ChIJV5zTXLpNzWoRKdMXeO49xpE
2,2,Just Swimming Wesley,"Wesley College, 554 High St Rd, Mount Waverley...",Swimming Club,145.146906,-37.872370,"['health', 'point_of_interest', 'school', 'est...",ChIJZ28toY0_1moRIKoSaJU36AM
3,3,Melbourne Vicentre Swimming Club,"Aughtie Dr, Albert Park VIC 3206, Australia",Swimming Club,144.960939,-37.841647,"['point_of_interest', 'establishment']",ChIJud2iLApo1moRpnfMpGO_mcQ
4,4,Melbourne Vicentre Swimming Club,"Ranfurlie Cres, Glen Iris VIC 3146, Australia",Swimming Club,145.054289,-37.861586,"['health', 'point_of_interest', 'school', 'est...",ChIJk4SJNWBA1moRxEt3tTgM20A

In [5]:
sports.columns

Index(['Unnamed: 0', 'Name', 'formattedAddress', 'newB', 'longitude',
       'latitude', 'type', 'place_id'],
      dtype='object')

In [6]:
# separate into two tables
# table1: for activity address
# table2: for business type of each sports

In [7]:
t1 = pd.concat([sports.place_id, sports.Name, sports.formattedAddress, sports.newB, sports.longitude, sports.latitude], axis=1)
t1.head()

,place_id,Name,formattedAddress,newB,longitude,latitude
0,ChIJnc-kCFw21moR-O84vUwjjTM,Eltham Swimming School,"1441 Main Rd, Eltham VIC 3095, Australia",Swimming Club,145.175774,-37.701532
1,ChIJV5zTXLpNzWoRKdMXeO49xpE,Jayson Lamb’s Splash Factory,"Grafton Rd, Warrnambool VIC 3280, Australia",Swimming Club,142.501409,-38.379052
2,ChIJZ28toY0_1moRIKoSaJU36AM,Just Swimming Wesley,"Wesley College, 554 High St Rd, Mount Waverley...",Swimming Club,145.146906,-37.872370
3,ChIJud2iLApo1moRpnfMpGO_mcQ,Melbourne Vicentre Swimming Club,"Aughtie Dr, Albert Park VIC 3206, Australia",Swimming Club,144.960939,-37.841647
4,ChIJk4SJNWBA1moRxEt3tTgM20A,Melbourne Vicentre Swimming Club,"Ranfurlie Cres, Glen Iris VIC 3146, Australia",Swimming Club,145.054289,-37.861586

In [8]:
t1.rename(columns={'newB':'Type'}, inplace=True)

In [9]:
t2 = pd.concat([t1.place_id, t1.Type], axis=1)

In [10]:
t2.head()

                      place_id           Type
0  ChIJnc-kCFw21moR-O84vUwjjTM  Swimming Club
1  ChIJV5zTXLpNzWoRKdMXeO49xpE  Swimming Club
2  ChIJZ28toY0_1moRIKoSaJU36AM  Swimming Club
3  ChIJud2iLApo1moRpnfMpGO_mcQ  Swimming Club
4  ChIJk4SJNWBA1moRxEt3tTgM20A  Swimming Club

In [11]:
t1.drop(columns='Type',inplace=True)
t1.columns

Index(['place_id', 'Name', 'formattedAddress', 'longitude', 'latitude'], dtype='object')

In [12]:
t1.drop_duplicates(subset='place_id',inplace=True)

In [13]:
t1.shape

(657, 5)

In [14]:
t1[t1.duplicated()]

Empty DataFrame
Columns: [place_id, Name, formattedAddress, longitude, latitude]
Index: []

In [15]:
t1[t1.isnull().any(1)]

Empty DataFrame
Columns: [place_id, Name, formattedAddress, longitude, latitude]
Index: []

In [16]:
t1 = pd.concat([t1,pd.DataFrame(columns=list('ABC'))],sort=False)
t1

,place_id,Name,formattedAddress,longitude,latitude,A,B,C
0,ChIJnc-kCFw21moR-O84vUwjjTM,Eltham Swimming School,"1441 Main Rd, Eltham VIC 3095, Australia",145.175774,-37.701532,NaN,NaN,NaN
1,ChIJV5zTXLpNzWoRKdMXeO49xpE,Jayson Lamb’s Splash Factory,"Grafton Rd, Warrnambool VIC 3280, Australia",142.501409,-38.379052,NaN,NaN,NaN
2,ChIJZ28toY0_1moRIKoSaJU36AM,Just Swimming Wesley,"Wesley College, 554 High St Rd, Mount Waverley...",145.146906,-37.872370,NaN,NaN,NaN
3,ChIJud2iLApo1moRpnfMpGO_mcQ,Melbourne Vicentre Swimming Club,"Aughtie Dr, Albert Park VIC 3206, Australia",144.960939,-37.841647,NaN,NaN,NaN
4,ChIJk4SJNWBA1moRxEt3tTgM20A,Melbourne Vicentre Swimming Club,"Ranfurlie Cres, Glen Iris VIC 3146, Australia",145.054289,-37.861586,NaN,NaN,NaN
5,ChIJnaOQm3oDw2oRGboI1qQVyrg,Mildura Swimming Club,"112 Twelfth St, Mildura VIC 3500, Australia",142.157601,-34.192041,NaN,NaN,NaN
6,ChIJDd0I23Jc1moRd680NMEbMX8,Seymours Swim School,"23 Graves St, Essendon VIC 3040, Australia",144.896124,-37.741172,NaN,NaN,NaN
7,ChIJi4mJNZVA1moRwUlcyD1iUWc,Surrey Park Swimming - Aqualink,"31 Surrey Dr, Box Hill VIC 3128, Australia",145.117592,-37.826011,NaN,NaN,NaN
8,ChIJb4G5OCEYKWsRJ9xzXRkE6aA,Traralgon Swimming Club,"Traralgon VIC 3844, Australia",146.534618,-38.197109,NaN,NaN,NaN
9,ChIJ985Pv1VMzWoRIzc-NKUGKAk,Warrnambool Swimming Club,"70 Jamieson St, Warrnambool VIC 3280, Australia",142.485237,-38.383603,NaN,NaN,NaN
10,ChIJi_TawGNI1moRZr5sUlYSPPs,Yarra Swim School,"Liat Way, Greensborough VIC 3088, Australia",145.097393,-37.714040,NaN,NaN,NaN
11,ChIJ6Tf4qwIPJ2sRcVIDVgiPCvM,Benalla Aquatic Centre,"4 Mair St, Benalla VIC 3671, Australia",145.981080,-36.550868,NaN,NaN,NaN
12,ChIJwx4xOWsDw2oRxWkbTPHtfb8,Aquacoaster Water Slide,"18 Orange Ave, Mildura VIC 3500, Australia",142.166240,-34.186029,NaN,NaN,NaN
13,ChIJS11idaB_L2sRkD56wxa8oT0,Bairnsdale Outdoor Pool,"37/47 Turnbull St, Bairnsdale VIC 3875, Australia",147.618462,-37.822572,NaN,NaN,NaN
14,ChIJ6-2rZMe31moRYKPhAY1NCwo,Ballan Outdoor Pool,"Mill Park Rd, Ballan VIC 3342, Australia",144.229988,-37.597464,NaN,NaN,NaN
15,ChIJ5YUf0XKxJmsRruQsHp5sUuo,Beechworth Swimming Pool,"Harper Ave, Beechworth VIC 3747, Australia",146.687425,-36.362611,NaN,NaN,NaN
16,ChIJIdcCSqFZ12oRfZJShZMvER8,Bendigo East Heated Pool,"1A Lansell St, Bendigo VIC 3550, Australia",144.294752,-36.754421,NaN,NaN,NaN
17,ChIJ4SPva7RF0WoRJiF85jTkLRE,Black Hill Swimming Pool,"Chisholm St, Black Hill VIC 3350, Australia",143.872407,-37.549061,NaN,NaN,NaN
18,ChIJZym0pE5H2moR6x94XxxLvbM,Boort Swimming Pool,"Lake View St, Boort VIC 3537, Australia",143.724148,-36.118481,NaN,NaN,NaN
19,ChIJK4dDhlNm2WoRZFi0i2Db6pw,Cohuna Swimming Pool,"Tennis Rd, Cohuna VIC 3568, Australia",144.221390,-35.806970,NaN,NaN,NaN
20,ChIJKdxQJCDm1WoRGoqMYqc5WKc,Crib Point Pool,"31 Governors Rd, Crib Point VIC 3919, Australia",145.205786,-38.359410,NaN,NaN,NaN
21,ChIJywN-0Js61moRIPouZWl59oU,Croydon Memorial Pool,"Hewish Rd & Springfield Ave, Croydon VIC 3136,...",145.286721,-37.797176,NaN,NaN,NaN
22,ChIJs9NFJN080WoRz8_Jg7IK5IQ,Daylesford Olympic Swimming Pool,"63A Central Springs Rd, Daylesford VIC 3460, A...",144.141468,-37.343320,NaN,NaN,NaN
23,ChIJb1wSDLkW1moRtIK9q9bDWkA,Doveton Pool in the Park,"Kidds Rd & Tristania St, Doveton VIC 3177, Aus...",145.244117,-37.988997,NaN,NaN,NaN
24,ChIJKejroFcC2WoRg0nLWzWasAQ,Echucha War Memorial Aquatic Centre (EWMAC),"Corner of High and Service Streets, Echuca VIC...",144.751387,-36.139446,NaN,NaN,NaN
25,ChIJ8VnGQ-OLJ2sRIkfxExOIvnw,Euroa Community Swimming Pool,"16A Bury St, Euroa VIC 3666, Australia",145.567795,-36.754564,NaN,NaN,NaN
26,ChIJvyct16Pk1moR8lwVizWTSnQ,Gisborne Aquatic Centre,"6 Aitken St, Gisborne VIC 3437, Australia",144.591005,-37.484625,NaN,NaN,NaN
27,ChIJEd2j0qlQ12oR5VS9Ool0wAk,Golden Square Pool,"14 Maple St, Golden Square VIC 3555, Australia",144.259269,-36.770989,NaN,NaN,NaN
28,ChIJIQxrpABC1moRWdLCz6nY0MI,Harold Holt Swim Centre,"1409-1413 High St, Glen Iris VIC 3146, Australia",145.044613,-37.857398,NaN,NaN,NaN
29,ChIJ2VlAISUqKGsREwZdb3G8m44,Healesville Outdoor Pool,"1/36 Don Rd, Healesville VIC 3777, Australia",145.523346,-37.653572,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
644,ChIJg4yvcdw71moRoYaTYOolsQA,MVC Boxing,"Reilly St, Ringwood VIC 3134, Australia",145.233233,-37.824925,NaN,NaN,NaN
645,ChIJvRcGQcc71moRcOyNmTCkDxo,Ultimate Martial Arts & Fitness,"126 Canterbury Rd, Heathmont VIC 3135, Australia",145.246876,-37.827875,NaN,NaN,NaN
646,ChIJaVxhFuY71moRmN4-z-P0-Xg,Heathmont Tennis Club,"Waterloo St, Heathmont VIC 3135, Australia",145.236000,-37.833635,NaN,NaN,NaN
647,ChIJf39saL471moRKjvypwEBK0U,Heathmont Jets Football Club,"HE Parker Reserve,, Heathmont Rd, Heathmont VI...",145.252261,-37.833759,NaN,NaN,NaN
648,ChIJHQho78Q71moRZ_YWt2Xa_DQ,EFM Health Club Ringwood,"Great Ryrie St, Ringwood VIC 3134, Australia",145.235339,-37.823492,NaN,NaN,NaN
649,ChIJjbgD799D1moRtrb4JvGM0oM,Kew Tennis Club,"Adeney Ave, Kew VIC 3101, Australia",145.048552,-37.802934,NaN,NaN,NaN
650,ChIJv31RwXxB1moRKjTqp-Iyjow,MCC Kew Sports Club Inc.,"397 Barkers Rd, Kew VIC 3101, Australia",145.053431,-37.815991,NaN,NaN,NaN
651,ChIJWefc3iwYKWsR_oI4_53hJrE,Traralgon West Sports Complex,"Douglas Parade, Traralgon VIC 3844, Australia",146.518197,-38.186957,NaN,NaN,NaN
652,ChIJGXD019RC1moR1dFOWB-6KeU,Rawlinson Track - Melbourne University,"Tin Alley, Parkville VIC 3052, Australia",144.961453,-37.795480,NaN,NaN,NaN
653,ChIJ2eV4i5tn1moRheDoaGjZCJk,Little Athletics Victoria,"Athletics House, 31 Aughtie Dr, Albert Park VI...",144.964727,-37.841069,NaN,NaN,NaN
654,ChIJeX2WGdVC1moRB9GiQZcoBEg,Melbourne University Athletics Club,"University of Melbourne, Parkville VIC 3010, A...",144.961958,-37.795774,NaN,NaN,NaN
655,ChIJT2y7gFtE0WoR_dE9ginqyV8,North Ballarat Sports Club,"725 Creswick Rd, Ballarat VIC 3350, Australia",143.848217,-37.538400,NaN,NaN,NaN
656,ChIJA_hVHRVE0WoRHaOOAVQz2lw,Wendouree Sports and Events Centre,"LOT 9 Norman St, Wendouree VIC 3355, Australia",143.842744,-37.534706,NaN,NaN,NaN
657,ChIJb56FnRZE0WoRVZI4l5XqoMs,Ballarat Squash & Racquetball Fitness Centre,"106 Dowling St, Wendouree VIC 3355, Australia",143.840115,-37.541950,NaN,NaN,NaN
658,ChIJ7SKK5QtE0WoR_vccIYLs4YQ,Basketball Ballarat,"Grevillea Rd & Dowling Street, Wendouree VIC 3...",143.841253,-37.528268,NaN,NaN,NaN
659,ChIJb56FnRZE0WoR7vtcR6VRHdk,Ballarat Badminton Association,"Dowling St, Wendouree VIC 3355, Australia",143.842470,-37.527672,NaN,NaN,NaN
660,ChIJJ60v_Spi1moR9SW_0GVLMyw,George Nevitt Athletics Track,"Sugar Gum Dr, Altona VIC 3018, Australia",144.827032,-37.861813,NaN,NaN,NaN
661,ChIJJaU8-v1E0WoRgsY9EuK8-SI,Llanberris Athletics Reserve,"York St, Ballarat East VIC 3350, Australia",143.866802,-37.568653,NaN,NaN,NaN
662,ChIJ-foDQlL11moRsMqmbP8tLp0,Sassella Park,"Deer Park VIC 3023, Australia",144.775561,-37.764173,NaN,NaN,NaN
663,ChIJOQVAHHcZ1moR8hEyoQb2mfI,Berwick Little Athletics,"Manuka Rd, Berwick VIC 3806, Australia",145.362312,-38.029258,NaN,NaN,NaN
664,ChIJvzttu8RE1moRulp2fi-DsyI,Harold Stevens Athletic Track,"20 Outlook Rd, Coburg North VIC 3058, Australia",144.976399,-37.732160,NaN,NaN,NaN
665,ChIJc-ZmxE9B1moRGwZQ97vChag,Step into Life Kew,"Stradbroke Park, East Kew VIC 3102, Australia",145.061253,-37.797599,NaN,NaN,NaN
666,ChIJ6S0dHtCS1moRbPFQclKdvQ4,Melton South Tennis Club,"Northcott Street, Melton South VIC 3338, Austr...",144.576593,-37.707537,NaN,NaN,NaN
669,ChIJ7aVB81451moR8IgxBXZWBA8,Proclamation Park,"11-13 Sylvia Grove, Ringwood VIC 3134, Australia",145.221857,-37.828622,NaN,NaN,NaN
670,ChIJq1IEqHuE2GoRJUExbk23Z1E,McEwen Reserve Tennis Club,"4 Brauman St, Shepparton VIC 3630, Australia",145.394598,-36.357149,NaN,NaN,NaN
671,ChIJAQAABKhn0GoRIO8fNgv_RDc,St Arnaud Sporting Club,"26 Dunstan St, St Arnaud VIC 3478, Australia",143.260368,-36.609458,NaN,NaN,NaN
672,ChIJsVgXBqhn0GoREAxDFKV5BQ8,Lord Nelson Park,"St Arnaud VIC 3478, Australia",143.260815,-36.611007,NaN,NaN,NaN
673,ChIJeS-x7tvbJmsRX-PKtg4CRRY,Appin Park Primary School,"149 Appin St, Wangaratta VIC 3677, Australia",146.300275,-36.342146,NaN,NaN,NaN
674,ChIJV0lrn-WVKWsRWFRtP9XxqiI,Geoff Watt Memorial Athletic Track,"47/61 Burke St, Warragul VIC 3820, Australia",145.926028,-38.164907,NaN,NaN,NaN
675,ChIJ6T9KLNgd12oRl8Tbria5fQs,Woodend Buffalo Sports Stadium,"1-29 Forest St, Woodend VIC 3442, Australia",144.521705,-37.353261,NaN,NaN,NaN

In [17]:
# a copy for t1
t4 = t1.copy()

In [18]:
findsub = r'([A-Z]{1}[a-zA-Z\s]+[a-z])[\s](?:VIC|Victoria)[\s][\d]{4}'
findpost = r'(?:[A-Z]{1}[a-zA-Z\s])*[\s](?:VIC|Victoria)[\s]([\d]{4})'
m = r'([A-Z]{1}[a-zA-Z\s]+)[\s](VIC)[\s]([\d]{4})'

In [19]:
add = ''
for i in range(t4.shape[0]):
    sub = ''
    pos = ''
    add = t4.iloc[i,:].formattedAddress
    #print(re.findall(m,add))
    if re.findall(m,add) != []:
        sub = re.findall(findsub, add)
        #print(sub)
        pos = re.findall(findpost, add)
        print(pos)
        t4.iloc[i, 5] = sub[0]
        t4.iloc[i, 6] = 'VIC'
        t4.iloc[i, 7] = pos[0]
     
    # for testing purpose
    #if i == 5:
        #break

['3095']
['3280']
['3149']
['3206']
['3146']
['3500']
['3040']
['3128']
['3844']
['3280']
['3088']
['3671']
['3500']
['3875']
['3342']
['3747']
['3550']
['3350']
['3537']
['3568']
['3919']
['3136']
['3460']
['3177']
['3564']
['3666']
['3437']
['3555']
['3146']
['3777']
['3523']
['3517']
['3555']
['3220']
['3579']
['3212']
['3076']
['3140']
['3463']
['3505']
['3871']
['3272']
['3175']
['3051']
['3636']
['3044']
['3888']
['3199']
['3561']
['3361']
['3182']
['3064']
['3585']
['3264']
['3268']
['3621']
['3677']
['3518']
['3527']
['3749']
['3058']
['3033']
['3095']
['3122']
['3081']
['3190']
['3101']
['3137']
['3065']
['3500']
['3131']
['3915']
['3350']
['3108']
['3630']
['3129']
['3032']
['3047']
['3056']
['3195']
['3060']
['3400']
['3155']
['3032']
['3070']
['3429']
['3020']
['3040']
['3690']
['3147']
['3128']
['3340']
['3250']
['3105']
['3168']
['3500']
['3977']
['3175']
['3177']
['3031']
['3465']
['3000']
['3150']
['3166']
['3038']
['3677']
['3820']
['3224']
['3214']
['3206']
['3102']
['3019']
['3550']
['3149']
['3074']
['3002']
['3206']
['3890']
['3789']
['3898']
['3364']
['3230']
['3936']
['3159']
['3159']
['3639']
['3833']
['3747']
['3889']
['3490']
['3107']
['3107']
['3401']
['3195']
['3033']
['3787']
['3996']
['3708']
['3150']
['3106']
['3888']
['3956']
['3305']
['3233']
['3939']
['3804']
['3714']
['3028']
['3683']
['3925']
['3156']
['3927']
['3890']
['3888']
['3363']
['3891']
['3175']
['3305']
['3223']
['3888']
['3980']
['3789']
['3851']
['3556']
['3556']
['3059']
['3984']
['3501']
['3523']
['3141']
['3723']
['3874']
['3016']
['3016']
['3016']
['3150']
['3202']
['3189']
['3757']
['3152']
['3783']
['3424']
['3423']
['3887']
['3851']
['3377']
['3910']
['3579']
['3889']
['3414']
['3340']
['3113']
['3113']
['3304']
['3156']
['3804']
['3441']
['3233']
['3777']
['3091']
['3862']
['3825']
['3939']
['3840']
['3453']
['3363']
['3373']
['3740']
['3767']
['3701']
['3691']
['3301']
['3929']
['3752']
['3152']
['3909']
['3221']
['3036']
['3898']
['3233']
['3465']
['3106']
['3032']
['3788']
['3230']
['3030']
['3016']
['3269']
['3225']
['3678']
['3672']
['3193']
['3788']
['3977']
['3141']
['3212']
['3795']
['3885']
['3477']
['3995']
['3331']
['3015']
['3775']
['3095']
['3831']
['3575']
['3658']
['3269']
['3825']
['3799']
['3707']
['3113']
['3125']
['3341']
['3030']
['3106']
['3207']
['3612']
['3767']
['3806']
['3806']
['3960']
['3059']
['3063']
['3424']
['3755']
['3078']
['3079']
['3090']
['3211']
['3151']
['3151']
['3056']
['3058']
['3088']
['3199']
['3040']
['3180']
['3144']
['3194']
['3039']
['3206']
['3136']
['3136']
['3351']
['3350']
['3076']
['3166']
['3121']
['3134']
['3188']
['3380']
['3125']
['3029']
['3015']
['3690']
['3350']
['3068']
['3199']
['3042']
['3850']
['3338']
['3189']
['3931']
['3638']
['3810']
['3198']
['3630']
['3156']
['3174']
['3844']
['3280']
['3150']
['3029']
['3076']
['3995']
['3083']
['3086']
['3083']
['3083']
['3086']
['3875']
['3875']
['3046']
['3046']
['3046']
['3046']
['3086']
['3064']
['3064']
['3199']
['3199']
['3028']
['3131']
['3220']
['3219']
['3128']
['3030']
['3030']
['3030']
['3030']
['3030']
['3030']
['3030']
['3121']
['3088']
['3104']
['3150']
['3797']
['3233']
['3082']
['3082']
['3377']
['3340']
['3160']
['3550']
['3550']
['3550']
['3088']
['3658']
['3047']
['3126']
['3101']
['3163']
['3451']
['3451']
['3266']
['3266']
['3644']
['3058']
['3058']
['3044']
['3056']
['3089']
['3472']
['3165']
['3165']
['3960']
['3777']
['3777']
['3498']
['3498']
['3555']
['3555']
['3156']
['3950']
['3444']
['3953']
['3860']
['3722']
['3722']
['3931']
['3931']
['3931']
['3934']
['3737']
['3737']
['3585']
['3068']
['3174']
['3788']
['3039']
['3044']
['3134']
['3549']
['3549']
['3850']
['3139']
['3793']
['3183']
['3585']
['3585']
['3585']
['3659']
['3106']
['3280']
['3442']
['3677']
['3977']
['3977']
['3977']
['3977']
['3975']
['3199']
['3065']
['3053']
['3079']
['3337']
['3690']
['3377']
['3192']
['3380']
['3134']
['3082']
['3995']
['3122']
['3012']
['3000']
['3810']
['3125']
['3053']
['3195']
['3084']
['3023']
['3072']
['3067']
['3055']
['3081']
['3043']
['3175']
['3000']
['3057']
['3057']
['3068']
['3000']
['3066']
['3066']
['3066']
['3058']
['3066']
['3205']
['3066']
['3099']
['3085']
['3074']
['3163']
['3183']
['3183']
['3181']
['3966']
['3159']
['3160']
['3340']
['3885']
['3833']
['3815']
['3815']
['3714']
['3943']
['3960']
['3752']
['3083']
['3713']
['3713']
['3714']
['3713']
['3713']
['3713']
['3713']
['3714']
['3779']
['3723']
['3713']
['3723']
['3713']
['3714']
['3851']
['3238']
['3453']
['3286']
['3823']
['3788']
['3185']
['3939']
['3678']
['3030']
['3612']
['3799']
['3211']
['3131']
['3150']
['3350']
['3129']
['3129']
['3214']
['3214']
['3214']
['3214']
['3214']
['3214']
['3109']
['3109']
['3199']
['3825']
['3095']
['3088']
['3163']
['3163']
['3136']
['3136']
['3136']
['3136']
['3136']
['3552']
['3166']
['3166']
['3166']
['3166']
['3166']
['3166']
['3166']
['3166']
['3148']
['3166']
['3166']
['3073']
['3073']
['3135']
['3134']
['3135']
['3135']
['3135']
['3134']
['3101']
['3101']
['3844']
['3052']
['3206']
['3010']
['3350']
['3355']
['3355']
['3355']
['3355']
['3018']
['3350']
['3023']
['3806']
['3058']
['3102']
['3338']
['3134']
['3630']
['3478']
['3478']
['3677']
['3820']
['3442']

In [20]:
# delete those not in australia
t5 = t4[t4.iloc[:,:].formattedAddress.str.contains('Australia')]

In [21]:
# delete null values so far
t5 = t5[~(t5.isnull().any(1))]

In [22]:
t5.shape

(578, 8)

In [ ]:
###### t2

In [23]:
# deal with t2
t2.shape

(676, 2)

In [24]:
t2.head()

                      place_id           Type
0  ChIJnc-kCFw21moR-O84vUwjjTM  Swimming Club
1  ChIJV5zTXLpNzWoRKdMXeO49xpE  Swimming Club
2  ChIJZ28toY0_1moRIKoSaJU36AM  Swimming Club
3  ChIJud2iLApo1moRpnfMpGO_mcQ  Swimming Club
4  ChIJk4SJNWBA1moRxEt3tTgM20A  Swimming Club

In [25]:
p_list = t5.place_id.unique()
len(p_list)

578

In [30]:
t6 = pd.DataFrame(columns=['place_id', 'Type'])

newrow = {'place_id': None,
          'Type': None}

for i in range(t2.shape[0]):
    newrow = {'place_id': None,
              'Type': None}
    pid = t2.iloc[i,:].place_id
    if pid in p_list:
        newrow = {'place_id': t2.iloc[i,:].place_id,
                  'Type':t2.iloc[i,:].Type}
    
    if newrow.get('place_id') is not None:
        t6 = t6.append(newrow, ignore_index=True)

In [32]:
t6.shape

(597, 2)

In [34]:
t6.Type.head()

0    Swimming Club
1    Swimming Club
2    Swimming Club
3    Swimming Club
4    Swimming Club
Name: Type, dtype: object

In [35]:
# a copy for t6
t3 = t6.copy()

In [ ]:
#t3.Type.str.split(',',expand=True)

In [36]:
new_df = pd.DataFrame(t3.Type.str.split(',').tolist(), index=t3.place_id).stack()
new_df

place_id
ChIJnc-kCFw21moR-O84vUwjjTM  0          Swimming Club
ChIJV5zTXLpNzWoRKdMXeO49xpE  0          Swimming Club
ChIJZ28toY0_1moRIKoSaJU36AM  0          Swimming Club
ChIJud2iLApo1moRpnfMpGO_mcQ  0          Swimming Club
ChIJk4SJNWBA1moRxEt3tTgM20A  0          Swimming Club
ChIJnaOQm3oDw2oRGboI1qQVyrg  0          Swimming Club
ChIJDd0I23Jc1moRd680NMEbMX8  0          Swimming Club
ChIJi4mJNZVA1moRwUlcyD1iUWc  0          Swimming Club
ChIJb4G5OCEYKWsRJ9xzXRkE6aA  0          Swimming Club
ChIJ985Pv1VMzWoRIzc-NKUGKAk  0          Swimming Club
ChIJi_TawGNI1moRZr5sUlYSPPs  0          Swimming Club
ChIJ6Tf4qwIPJ2sRcVIDVgiPCvM  0          Swimming Club
                             1          Swimming Pool
ChIJwx4xOWsDw2oRxWkbTPHtfb8  0          Swimming Pool
ChIJS11idaB_L2sRkD56wxa8oT0  0          Swimming Pool
ChIJ6-2rZMe31moRYKPhAY1NCwo  0          Swimming Pool
ChIJ5YUf0XKxJmsRruQsHp5sUuo  0          Swimming Pool
ChIJIdcCSqFZ12oRfZJShZMvER8  0          Swimming Pool
ChIJ4SPva7RF0WoRJiF85jTkLRE  0          Swimming Pool
ChIJZym0pE5H2moR6x94XxxLvbM  0          Swimming Pool
ChIJK4dDhlNm2WoRZFi0i2Db6pw  0          Swimming Pool
ChIJKdxQJCDm1WoRGoqMYqc5WKc  0          Swimming Pool
ChIJywN-0Js61moRIPouZWl59oU  0          Swimming Pool
ChIJs9NFJN080WoRz8_Jg7IK5IQ  0          Swimming Pool
ChIJb1wSDLkW1moRtIK9q9bDWkA  0          Swimming Pool
ChIJKejroFcC2WoRg0nLWzWasAQ  0          Swimming Pool
ChIJ8VnGQ-OLJ2sRIkfxExOIvnw  0          Swimming Pool
ChIJvyct16Pk1moR8lwVizWTSnQ  0          Swimming Pool
ChIJEd2j0qlQ12oR5VS9Ool0wAk  0          Swimming Pool
ChIJIQxrpABC1moRWdLCz6nY0MI  0          Swimming Pool
                                         ...
ChIJeX2WGdVC1moRB9GiQZcoBEg  0         Athletics Club
ChIJT2y7gFtE0WoR_dE9ginqyV8  0      Strength Training
                             1         Fitness Centre
ChIJA_hVHRVE0WoRHaOOAVQz2lw  0      Strength Training
                             1         Fitness centre
ChIJb56FnRZE0WoRVZI4l5XqoMs  0         Fitness Centre
ChIJ7SKK5QtE0WoR_vccIYLs4YQ  0            Tennis Club
ChIJb56FnRZE0WoR7vtcR6VRHdk  0      Strength Training
                             1         Fitness Centre
ChIJJ60v_Spi1moR9SW_0GVLMyw  0         Athletics Club
ChIJJaU8-v1E0WoRgsY9EuK8-SI  0         Athletics Club
ChIJ-foDQlL11moRsMqmbP8tLp0  0    Park/Garden/Reserve
ChIJOQVAHHcZ1moR8hEyoQb2mfI  0         Athletics Club
                             1       Little Athletics
ChIJvzttu8RE1moRulp2fi-DsyI  0         Athletics Club
ChIJc-ZmxE9B1moRGwZQ97vChag  0             Gymnastics
                             1      Strength Training
ChIJ6S0dHtCS1moRbPFQclKdvQ4  0            Tennis Club
ChIJMWYzwsoOKWsRr8878egqqpg  0         Athletics Club
ChIJARpm9Jpr1moRX6bBl8srtLM  0         Athletics Club
                             1       Little Athletics
ChIJ7aVB81451moR8IgxBXZWBA8  0    Park/Garden/Reserve
ChIJq1IEqHuE2GoRJUExbk23Z1E  0    Park/Garden/Reserve
ChIJAQAABKhn0GoRIO8fNgv_RDc  0      Strength Training
                             1         Fitness centre
ChIJsVgXBqhn0GoREAxDFKV5BQ8  0    Park/Garden/Reserve
ChIJeS-x7tvbJmsRX-PKtg4CRRY  0    Park/Garden/Reserve
ChIJV0lrn-WVKWsRWFRtP9XxqiI  0         Athletics Club
ChIJ6T9KLNgd12oRl8Tbria5fQs  0      Strength Training
                             1         Fitness Centre
Length: 818, dtype: object

In [37]:
new_df = new_df.reset_index([0, 'place_id'])
new_df

                        place_id                    0
0    ChIJnc-kCFw21moR-O84vUwjjTM        Swimming Club
1    ChIJV5zTXLpNzWoRKdMXeO49xpE        Swimming Club
2    ChIJZ28toY0_1moRIKoSaJU36AM        Swimming Club
3    ChIJud2iLApo1moRpnfMpGO_mcQ        Swimming Club
4    ChIJk4SJNWBA1moRxEt3tTgM20A        Swimming Club
5    ChIJnaOQm3oDw2oRGboI1qQVyrg        Swimming Club
6    ChIJDd0I23Jc1moRd680NMEbMX8        Swimming Club
7    ChIJi4mJNZVA1moRwUlcyD1iUWc        Swimming Club
8    ChIJb4G5OCEYKWsRJ9xzXRkE6aA        Swimming Club
9    ChIJ985Pv1VMzWoRIzc-NKUGKAk        Swimming Club
10   ChIJi_TawGNI1moRZr5sUlYSPPs        Swimming Club
11   ChIJ6Tf4qwIPJ2sRcVIDVgiPCvM        Swimming Club
12   ChIJ6Tf4qwIPJ2sRcVIDVgiPCvM        Swimming Pool
13   ChIJwx4xOWsDw2oRxWkbTPHtfb8        Swimming Pool
14   ChIJS11idaB_L2sRkD56wxa8oT0        Swimming Pool
15   ChIJ6-2rZMe31moRYKPhAY1NCwo        Swimming Pool
16   ChIJ5YUf0XKxJmsRruQsHp5sUuo        Swimming Pool
17   ChIJIdcCSqFZ12oRfZJShZMvER8        Swimming Pool
18   ChIJ4SPva7RF0WoRJiF85jTkLRE        Swimming Pool
19   ChIJZym0pE5H2moR6x94XxxLvbM        Swimming Pool
20   ChIJK4dDhlNm2WoRZFi0i2Db6pw        Swimming Pool
21   ChIJKdxQJCDm1WoRGoqMYqc5WKc        Swimming Pool
22   ChIJywN-0Js61moRIPouZWl59oU        Swimming Pool
23   ChIJs9NFJN080WoRz8_Jg7IK5IQ        Swimming Pool
24   ChIJb1wSDLkW1moRtIK9q9bDWkA        Swimming Pool
25   ChIJKejroFcC2WoRg0nLWzWasAQ        Swimming Pool
26   ChIJ8VnGQ-OLJ2sRIkfxExOIvnw        Swimming Pool
27   ChIJvyct16Pk1moR8lwVizWTSnQ        Swimming Pool
28   ChIJEd2j0qlQ12oR5VS9Ool0wAk        Swimming Pool
29   ChIJIQxrpABC1moRWdLCz6nY0MI        Swimming Pool
..                           ...                  ...
788  ChIJeX2WGdVC1moRB9GiQZcoBEg       Athletics Club
789  ChIJT2y7gFtE0WoR_dE9ginqyV8    Strength Training
790  ChIJT2y7gFtE0WoR_dE9ginqyV8       Fitness Centre
791  ChIJA_hVHRVE0WoRHaOOAVQz2lw    Strength Training
792  ChIJA_hVHRVE0WoRHaOOAVQz2lw       Fitness centre
793  ChIJb56FnRZE0WoRVZI4l5XqoMs       Fitness Centre
794  ChIJ7SKK5QtE0WoR_vccIYLs4YQ          Tennis Club
795  ChIJb56FnRZE0WoR7vtcR6VRHdk    Strength Training
796  ChIJb56FnRZE0WoR7vtcR6VRHdk       Fitness Centre
797  ChIJJ60v_Spi1moR9SW_0GVLMyw       Athletics Club
798  ChIJJaU8-v1E0WoRgsY9EuK8-SI       Athletics Club
799  ChIJ-foDQlL11moRsMqmbP8tLp0  Park/Garden/Reserve
800  ChIJOQVAHHcZ1moR8hEyoQb2mfI       Athletics Club
801  ChIJOQVAHHcZ1moR8hEyoQb2mfI     Little Athletics
802  ChIJvzttu8RE1moRulp2fi-DsyI       Athletics Club
803  ChIJc-ZmxE9B1moRGwZQ97vChag           Gymnastics
804  ChIJc-ZmxE9B1moRGwZQ97vChag    Strength Training
805  ChIJ6S0dHtCS1moRbPFQclKdvQ4          Tennis Club
806  ChIJMWYzwsoOKWsRr8878egqqpg       Athletics Club
807  ChIJARpm9Jpr1moRX6bBl8srtLM       Athletics Club
808  ChIJARpm9Jpr1moRX6bBl8srtLM     Little Athletics
809  ChIJ7aVB81451moR8IgxBXZWBA8  Park/Garden/Reserve
810  ChIJq1IEqHuE2GoRJUExbk23Z1E  Park/Garden/Reserve
811  ChIJAQAABKhn0GoRIO8fNgv_RDc    Strength Training
812  ChIJAQAABKhn0GoRIO8fNgv_RDc       Fitness centre
813  ChIJsVgXBqhn0GoREAxDFKV5BQ8  Park/Garden/Reserve
814  ChIJeS-x7tvbJmsRX-PKtg4CRRY  Park/Garden/Reserve
815  ChIJV0lrn-WVKWsRWFRtP9XxqiI       Athletics Club
816  ChIJ6T9KLNgd12oRl8Tbria5fQs    Strength Training
817  ChIJ6T9KLNgd12oRl8Tbria5fQs       Fitness Centre

[818 rows x 2 columns]

In [38]:
new_df.columns = ['place_id', 'Type']

In [40]:
new_df.head()

                      place_id           Type
0  ChIJnc-kCFw21moR-O84vUwjjTM  Swimming Club
1  ChIJV5zTXLpNzWoRKdMXeO49xpE  Swimming Club
2  ChIJZ28toY0_1moRIKoSaJU36AM  Swimming Club
3  ChIJud2iLApo1moRpnfMpGO_mcQ  Swimming Club
4  ChIJk4SJNWBA1moRxEt3tTgM20A  Swimming Club

In [41]:
new_df.set_index(['place_id', 'Type'], inplace=True)

In [42]:
new_df.head()

# business type data set

Empty DataFrame
Columns: []
Index: [(ChIJnc-kCFw21moR-O84vUwjjTM, Swimming Club), (ChIJV5zTXLpNzWoRKdMXeO49xpE, Swimming Club), (ChIJZ28toY0_1moRIKoSaJU36AM, Swimming Club), (ChIJud2iLApo1moRpnfMpGO_mcQ, Swimming Club), (ChIJk4SJNWBA1moRxEt3tTgM20A, Swimming Club)]

In [44]:
t5.set_index(['place_id'],inplace=True)

In [46]:
t5.rename(columns={'A':'Suburb', 'B': 'State', 'C': 'Postcode'}, inplace=True)

In [47]:
t5.head()

,Name,formattedAddress,longitude,latitude,Suburb,State,Postcode
place_id,,,,,,,
ChIJnc-kCFw21moR-O84vUwjjTM,Eltham Swimming School,"1441 Main Rd, Eltham VIC 3095, Australia",145.175774,-37.701532,Eltham,VIC,3095
ChIJV5zTXLpNzWoRKdMXeO49xpE,Jayson Lamb’s Splash Factory,"Grafton Rd, Warrnambool VIC 3280, Australia",142.501409,-38.379052,Warrnambool,VIC,3280
ChIJZ28toY0_1moRIKoSaJU36AM,Just Swimming Wesley,"Wesley College, 554 High St Rd, Mount Waverley...",145.146906,-37.872370,Mount Waverley,VIC,3149
ChIJud2iLApo1moRpnfMpGO_mcQ,Melbourne Vicentre Swimming Club,"Aughtie Dr, Albert Park VIC 3206, Australia",144.960939,-37.841647,Albert Park,VIC,3206
ChIJk4SJNWBA1moRxEt3tTgM20A,Melbourne Vicentre Swimming Club,"Ranfurlie Cres, Glen Iris VIC 3146, Australia",145.054289,-37.861586,Glen Iris,VIC,3146

In [49]:
new_df.to_csv('businesstype_v2_0.csv', encoding='utf8')
t5.to_csv('activity_v2_0.csv', encoding='utf8')

In [ ]:
#########

In [ ]:
t4.head(10)

In [ ]:
t4[t4.isnull().any(1)]

In [ ]:

add1 = 'Upper Ferntree Gully VIC 3156, Australia'
add2 = '149 Appin St, Wangaratta VIC 3677, Australia'
add3 = 'Riviera Reserve, Eel Race Rd, Seaford VIC 3198, Australia'

In [ ]:
findsub = r'([A-Z]{1}[a-zA-Z\s]+[a-z])[\s]VIC[\s][\d]{4}'
findpost = r'[A-Z]{1}[a-zA-Z\s]+[\s]VIC[\s]([\d]{4})'

In [ ]:
t5[(t5.isnull().any(1))]

In [ ]:
t5

In [ ]:
# delete rows in new_df