In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sports and reserve_v1.1.csv')
data.head()

,Facility_ID,FacilityName,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,LGA,Type
0,WYNDHA8530,Werribee Sports & Fitness Centre,NaN,Ballan,Road,Werribee,3030.0,-37.898601,144.640316,WYNDHAM,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,NaN,Graham,Court,Hoppers crossing,3029.0,-37.872000,144.727500,WYNDHAM,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,13,Riverside,Avenue,Werribee,3030.0,-37.913492,144.659074,WYNDHAM,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,NaN,Haines,Road,Wyndham vale,3024.0,-37.897069,144.609389,WYNDHAM,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,NaN,Heaths,Road,Hoppers crossing,3029.0,-37.877437,144.692478,WYNDHAM,"Rugby Union,Tennis (Outdoor),Netball"

In [3]:
data.rename(columns = {'Facility_ID':'place_id', 'FacilityName': 'name', 'Type':'type'}, inplace = True)

In [4]:
swim = pd.read_csv('sports and reserve swimming only_v1.0.csv')
swim.head()

,Unnamed: 0,place_id,FacilityName,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,Type,LGA
0,0,WYNDHA8500,Fenix Fitness Club Hoppers Crossing,116,Mossfiel,Drive,HOPPERS CROSSING,3029.0,-37.869127,144.691056,Swimming,WYNDHAM
1,1,WYNDHA8523,Shawn's Swim School,35,Richards,Road,HOPPERS CROSSING,3029.0,-37.866000,144.729000,Swimming,WYNDHAM
2,2,WYNDHA8528,Werribee Olympic Pool,NaN,Watton,Street,WERRIBEE,3030.0,-37.906041,144.651882,Swimming,WYNDHAM
3,3,WYNDHA8533,Wyndham Leisure & Events Centre,NaN,Derrimut,Road,HOPPERS CROSSING,3029.0,-37.882173,144.683355,Swimming,WYNDHAM
4,4,YARRAC10979,Collingwood Leisure Centre,NaN,Turnbull,Street,CLIFTON HILL,3068.0,-37.787996,144.994351,Swimming,YARRA

In [5]:
swim.drop(columns=['Unnamed: 0', 'LGA'], inplace = True)
swim.rename(columns = {'FacilityName': 'name', 'Type':'type'}, inplace = True)
data.drop(columns=['LGA'], inplace = True)

In [8]:
swim.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8500,Fenix Fitness Club Hoppers Crossing,116,Mossfiel,Drive,HOPPERS CROSSING,3029.0,-37.869127,144.691056,Swimming
1,WYNDHA8523,Shawn's Swim School,35,Richards,Road,HOPPERS CROSSING,3029.0,-37.866000,144.729000,Swimming
2,WYNDHA8528,Werribee Olympic Pool,NaN,Watton,Street,WERRIBEE,3030.0,-37.906041,144.651882,Swimming
3,WYNDHA8533,Wyndham Leisure & Events Centre,NaN,Derrimut,Road,HOPPERS CROSSING,3029.0,-37.882173,144.683355,Swimming
4,YARRAC10979,Collingwood Leisure Centre,NaN,Turnbull,Street,CLIFTON HILL,3068.0,-37.787996,144.994351,Swimming

In [9]:
data.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,NaN,Ballan,Road,Werribee,3030.0,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,NaN,Graham,Court,Hoppers crossing,3029.0,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,13,Riverside,Avenue,Werribee,3030.0,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,NaN,Haines,Road,Wyndham vale,3024.0,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,NaN,Heaths,Road,Hoppers crossing,3029.0,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [10]:
df = pd.concat([data, swim])
df.shape

(3531, 10)

In [11]:
df.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,NaN,Ballan,Road,Werribee,3030.0,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,NaN,Graham,Court,Hoppers crossing,3029.0,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,13,Riverside,Avenue,Werribee,3030.0,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,NaN,Haines,Road,Wyndham vale,3024.0,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,NaN,Heaths,Road,Hoppers crossing,3029.0,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [14]:
df_type = pd.concat([df.place_id, df.type], axis= 1)
df_type.head()

      place_id                                               type
0   WYNDHA8530  Netball,Table Tennis,Tennis (Outdoor),Volleyba...
1  WYNDHA11288                  Netball (Indoor),Cricket (Indoor)
2   WYNDHA8521  Netball (Indoor),Soccer (Indoor Soccer / Futsa...
3  WYNDHA11000                           Rugby League,Rugby Union
4   WYNDHA8514               Rugby Union,Tennis (Outdoor),Netball

In [16]:
sportstype = df_type.groupby('place_id')['type'].apply(','.join).reset_index()

In [18]:
for i in sportstype.type:
    if 'Swimming' in i:
        print(i)

Aerobics,Badminton,Basketball,Cricket (Indoor),Netball (Indoor),Soccer (Indoor Soccer / Futsal),Table Tennis,Volleyball,Swimming
Tennis (Outdoor),Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Gymnastics,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Australian Rules Football,Badminton,Netball,Swimming
Swimming
Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Aerobics,Badminton,Basketball,Fitness / Gymnasium Workouts,Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Aerobics,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Swimming
Aerobics,Fitness / Gymnasium Workouts,Karate,Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Fitness / Gymnasium Workouts,Volleyball,Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Table Tennis,Taekwondo,Volleyball,Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Tennis (Outdoor),Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Basketball,Fitness / Gymnasium Workouts,Swimming
Swimming
Fitness / Gymnasium Workouts,Tennis (Outdoor),Swimming
Swimming
Swimming
Swimming
Australian Rules Football,Netball,Netball (Indoor),Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Swimming
Beach Volleyball,Swimming
Swimming
Athletics,Australian Rules Football,Netball,Tennis (Outdoor),Tennis (Outdoor),Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Taekwondo,Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Martial Arts,Netball (Indoor),Taekwondo,Swimming
Fitness / Gymnasium Workouts,Taekwondo,Swimming
Park / Reserve,Park / Reserve,Swimming
Swimming
Australian Rules Football,Netball,Tennis (Outdoor),Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Aerobics,Fitness / Gymnasium Workouts,Taekwondo,Swimming
Aerobics,Basketball,Fitness / Gymnasium Workouts,Martial Arts,Tennis (Indoor),Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Basketball,Fitness / Gymnasium Workouts,Swimming
Athletics,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Swimming
Basketball,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Soccer (Indoor Soccer / Futsal),Taekwondo,Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Netball,Volleyball,Swimming
Fitness / Gymnasium Workouts,Swimming
Aerobics,Badminton,Fitness / Gymnasium Workouts,Gymnastics,Netball (Indoor),Table Tennis,Volleyball,Swimming
Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Gymnastics,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Basketball,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Fitness / Gymnasium Workouts,Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Swimming
Australian Rules Football,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Tennis (Outdoor),Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Aerobics,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Tennis (Outdoor),Swimming
Fitness / Gymnasium Workouts,Swimming
Badminton,Basketball,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Tennis (Outdoor),Volleyball,Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Tennis (Outdoor),Volleyball,Swimming
Swimming
Swimming
Swimming
Badminton,Basketball,Cricket (Indoor),Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Table Tennis,Volleyball,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Table Tennis,Swimming
Swimming
Australian Rules Football,Tennis (Outdoor),Swimming
Swimming
Australian Rules Football,Basketball,Cycling,Netball,Table Tennis,Tennis (Outdoor),Swimming
Swimming
Swimming
Badminton,Basketball,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Tennis (Outdoor),Tennis (Outdoor),Tennis (Outdoor),Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Netball,Soccer (Indoor Soccer / Futsal),Tennis (Outdoor),Volleyball,Swimming
Fitness / Gymnasium Workouts,Tennis (Outdoor),Tennis (Outdoor),Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Gymnastics,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Swimming
Swimming
Tennis (Outdoor),Swimming
Swimming
Badminton,Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Volleyball,Swimming
Australian Rules Football,Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Tennis (Outdoor),Volleyball,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Basketball,Cricket (Indoor),Fitness / Gymnasium Workouts,Netball (Indoor),Soccer (Indoor Soccer / Futsal),Tennis (Outdoor),Swimming
Aerobics,Fitness / Gymnasium Workouts,Karate,Swimming
Aerobics,Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Swimming
Swimming
Basketball,Fitness / Gymnasium Workouts,Netball (Indoor),Volleyball,Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Swimming
Swimming
Aerobics,Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Fitness / Gymnasium Workouts,Swimming
Tennis (Outdoor),Swimming
Australian Rules Football,Soccer,Tennis (Outdoor),Swimming
Swimming
Australian Rules Football,Swimming
Swimming
Swimming
Fitness / Gymnasium Workouts,Netball (Indoor),Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming
Swimming

In [20]:
sportstype.head()

      place_id                                               type
0  ALPINE10918                                             Soccer
1  ALPINE10919                                         Basketball
2  ALPINE10920                       Fitness / Gymnasium Workouts
3  ALPINE10924  Australian Rules Football,Netball,Tennis (Outd...
4  ALPINE10925                                     Park / Reserve

In [21]:
sportstype.shape

(3403, 2)

In [19]:
df.drop_duplicates(subset='place_id',inplace=True)
df.shape

(3403, 10)

In [23]:
df1 = df.copy()
df1.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,NaN,Ballan,Road,Werribee,3030.0,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,NaN,Graham,Court,Hoppers crossing,3029.0,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,13,Riverside,Avenue,Werribee,3030.0,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,NaN,Haines,Road,Wyndham vale,3024.0,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,NaN,Heaths,Road,Hoppers crossing,3029.0,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [24]:
df1.drop(columns=['type'], inplace=True)

In [25]:
new = pd.merge(df1,sportstype, on = 'place_id')
new.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,NaN,Ballan,Road,Werribee,3030.0,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,NaN,Graham,Court,Hoppers crossing,3029.0,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,13,Riverside,Avenue,Werribee,3030.0,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,NaN,Haines,Road,Wyndham vale,3024.0,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,NaN,Heaths,Road,Hoppers crossing,3029.0,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [ ]:
############## format the address

In [26]:
new.StreetType = new.StreetType.str.capitalize()

In [27]:
new.StreetType.unique()

array(['Road', 'Court', 'Avenue', 'Parade', 'Lane', 'Drive', 'Street',
       'Way', 'Place', 'Grove', '.', 'Hwy', 'Crescent', 'Highway',
       'Cresent', 'Close', nan, 'Terrace', 'Esplanade', 'Strand',
       'Square', 'Street north', 'Street west', 'Concourse', 'Walk north',
       'Reserve', 'Road west', 'Blvd', 'Boulevard', 'Promenade', 'Strip',
       'Hub', 'Road east', 'Street south', 'Circuit', 'Centreway',
       'Road drive', 'Place north', 'Road south', 'Street\xa0\xa0',
       'Gateway', 'Crossing', 'Strret', 'Road north', 'Steet'],
      dtype=object)

In [28]:
# keep naming convention
# use full name instead of short name
new.StreetType.replace('Hwy', 'Highway', inplace=True)
new.StreetType.replace('Blvd', 'Boulevard', inplace=True)
new.StreetType.replace('Strret', 'Street', inplace=True)
new.StreetType.replace('Street\xa0\xa0', 'Street', inplace=True)
new.StreetType.replace('Steet', 'Street', inplace=True)
new.StreetType.replace('.', np.nan , inplace=True)

In [29]:
new.Postcode = new.Postcode.astype(int)

In [31]:
data2 = new.copy()
data2.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,NaN,Ballan,Road,Werribee,3030,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,NaN,Graham,Court,Hoppers crossing,3029,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,13,Riverside,Avenue,Werribee,3030,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,NaN,Haines,Road,Wyndham vale,3024,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,NaN,Heaths,Road,Hoppers crossing,3029,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [32]:
state = 'VIC'
    
for i in range(data2.shape[0]):
    num = data2.iloc[i,:].StreetNo
    names = data2.iloc[i,:].StreetName
    types = data2.iloc[i,:].StreetType
    sub = data2.iloc[i,:].Suburb
    post = data2.iloc[i,:].Postcode
    
    # add1: first part of address
    add1 = []
    
    add1.append(num if str(num) != 'nan' else '')
    add1.append(names if str(names) != 'nan' else '')
    add1.append(types if str(types) != 'nan' else '')
    
    # add2: second part of address
    add2 = []
    
    add2.append(sub)
    add2.append(state)
    add2.append(post)
    
    
    formatted1 = ' '.join(p for p in add1 if p != '')
    formatted2 = ' '.join(str(p) for p in add2)
    if formatted1 == '':
        add_f = ', '.join([formatted2, 'Australia'])
    else:
        add_f = ', '.join([formatted1, formatted2, 'Australia'])
    #print(add_f)
    
    data2.loc[i,'StreetNo'] = add_f
    
    # for testing purpose
    # uncomment to run the whole loop
    #if i == 30:
        #break

In [33]:
data2[data2.StreetNo.isnull()]

Empty DataFrame
Columns: [place_id, name, StreetNo, StreetName, StreetType, Suburb, Postcode, latitude, longitude, type]
Index: []

In [34]:
data3 = data2.copy()
data3.head()

,place_id,name,StreetNo,StreetName,StreetType,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,"Ballan Road, Werribee VIC 3030, Australia",Ballan,Road,Werribee,3030,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,"Graham Court, Hoppers crossing VIC 3029, Austr...",Graham,Court,Hoppers crossing,3029,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,"13 Riverside Avenue, Werribee VIC 3030, Australia",Riverside,Avenue,Werribee,3030,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,"Haines Road, Wyndham vale VIC 3024, Australia",Haines,Road,Wyndham vale,3024,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,"Heaths Road, Hoppers crossing VIC 3029, Australia",Heaths,Road,Hoppers crossing,3029,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [36]:
data3.drop(columns=['StreetName', 'StreetType'], inplace = True)
data3.rename(columns={'StreetNo': 'formatted_address'}, inplace = True)

In [37]:
data3.head()

,place_id,name,formatted_address,Suburb,Postcode,latitude,longitude,type
0,WYNDHA8530,Werribee Sports & Fitness Centre,"Ballan Road, Werribee VIC 3030, Australia",Werribee,3030,-37.898601,144.640316,"Netball,Table Tennis,Tennis (Outdoor),Volleyba..."
1,WYNDHA11288,Hoppers Indoor Sportz,"Graham Court, Hoppers crossing VIC 3029, Austr...",Hoppers crossing,3029,-37.872000,144.727500,"Netball (Indoor),Cricket (Indoor)"
2,WYNDHA8521,Riverside Indoor Sports,"13 Riverside Avenue, Werribee VIC 3030, Australia",Werribee,3030,-37.913492,144.659074,"Netball (Indoor),Soccer (Indoor Soccer / Futsa..."
3,WYNDHA11000,Haines Drive Reserve,"Haines Road, Wyndham vale VIC 3024, Australia",Wyndham vale,3024,-37.897069,144.609389,"Rugby League,Rugby Union"
4,WYNDHA8514,Mossfiel Reserve,"Heaths Road, Hoppers crossing VIC 3029, Australia",Hoppers crossing,3029,-37.877437,144.692478,"Rugby Union,Tennis (Outdoor),Netball"

In [38]:
# write data
data3.to_csv('sports and reserve_v3.0_conbine swimming data.csv', encoding = 'utf8')